#wrapper{
  overflow: hidden;
}
header{
    background-color: white;
    border: 1px solid black;
}
nav{
  background-color: brown;
    border: 1px solid black;
}
main{
    background-color: white;
    border: 1px solid black;
}
figure{
    background-color: white;
    border: 1px solid black;
    border-radius: 7pt;
}
footer{
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width:480px){
body{
    margin: 0px;
    background-color: white;
  }
header, nav, main, figure, footer{
    padding: 10px;
    margin-bottom: 5px;
  }
#wrapper{
    margin:0px;
    border:none;
        }
#wrapper > header{
    width:100%;
    height: 75px;
    padding-left: 2%;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    line-height: 25px;
        }

#wrapper > nav > ul{
    display: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
	}

	
#wrapper > nav > h2{
    text-align: center;
    color: white;
	}
    
#colors{
    width:100%; 
    
    }
	
#wrapper > nav > ul a{
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: white 1px solid;
    color: white;
	}
main >h1{
    padding-top: 10px;
    padding-left: 2%;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    }
    figure{
        width: 90%;
        margin: 1%;
    }
      .songImage1,.songImage2,.songImage3,.songImage4{
        width: 30%;
          height: 50%;
        float: right;
    }
    
main > figure > img {
    width: 100%;
    height: 100%;
    }


footer > h1{
       text-align: center;
    }

}
@media screen and (min-width: 481px) and (max-width: 1024px){
body{
    margin: 0px;
    background-color: white;
  }

header{
    position: fixed;
    width: 20%;
    height: 10%;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
  }

nav{
    position: fixed;
    width: 20%;
    top: 10%;
    bottom: 10%;
  }
main{
    width: 80%;
    border: none;
    float: right;
    padding: 0px;
    
  }

footer{
    position: fixed;
    width: 20%;
    height: 10%;
    top: 90%;
  }
#wrapper{
    margin:0px;
    border:none;
        }
.image{
    float: right;
    height: 100%;
    width: 100%;
        }

    
#wrapper >main > h1{
    line-height: 25px;
    margin-left: 5%;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    }
#wrapper > main > p {
    line-height: 25px;
    margin-left: 5%;
    box-sizing: border-box;
    
        }

#wrapper > nav > ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
	}
	
#wrapper > nav h2{
    text-align: center;
    color: white;
	}

#wrapper > nav > ul a{
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: white 1px solid;
    color: white;
	}
footer > h1{
       text-align: center;
        font-size: 16px;
    }
    .songImage1,.songImage2,.songImage3,.songImage4{
        width: 20%;
        float: right;
    }
    #colors{
    width:100%; 
    
    }

 main > figure > img {
    width: 100%;
     height: 100%;
    }
figure {
    margin: 2%;
    padding: 1%;
    width: 96%;
    box-sizing: border-box;
           }
}
@media screen and (min-width: 1025px){
body{
    font-family: "Century gothic", "arial";
    }
		
#wrapper{
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    background-color: #eee;
    box-shadow: 0 0 5px #333;
    border: 2px solid #222;
    box-sizing: border-box;
        }
			
#wrapper > header{
    width:100%;
    height: 75px;
    line-height: 75px;
    padding-bottom: 5%;
    padding-top: 8px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    font-size: 40px;   
    font-weight: bold;
    font-family: 'Caveat Brush', cursive
        }

			
#wrapper > nav{
    width: 100%;
    color: #eee;
    padding: 2%;
    box-sizing: border-box;
        }
#toogle-menu{
    display: none;
        }
    
#wrapper > nav > ul{;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
	}

        
nav > ul > li {
    float: left;
        }

#wrapper > nav > ul a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:inherit;
        }


.image {
    float: right;
    height: 20%;
    width: 15%;
        }
			
#wrapper > main{
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height:200px;
        }

            
#wrapper > main > h1{
    line-height: 25px;
    padding-left: 2%;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
        }

#wrapper > footer{
    width: 100%;
    height: 50px;
    line-height: 15px;
    color: black;
    padding-left: 2%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    clear: both;
        }
#colors{
    width:150%; 
    
    }

#clInfo{
    font-family: 'Arsenal', sans-serif;
    font-size: 150%;
        }
    
#wrapper > main > p{
    line-height: 25px;
    padding-left: 2%;
    box-sizing: border-box;
    
        }
 
 main > figure > img {
    width: 100%;
     height: 100%;
    }
figure {
    margin: 2%;
    padding: 1%;
    width: 96%;
    box-sizing: border-box;
    float: right;
           }
}